[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "bs4>=0.0.2",
    "flask>=3.1.2",
    "lxml>=6.0.2",
    "numpy>=2.4.1",
    "pandas>=2.3.3",
    "requests>=2.32.5",
]
